<app-header></app-header>
<h1 style="text-align: center;color:#155ab5;font-weight: bold;margin-top: 100px;">الأسئلة الشائعة</h1>
<div class="Container" style="margin-top: 100px">
    <div class="card flex justify-content-center">
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="مالذي يميز شركه وصل عن غيرها؟">
                <div style="text-align: right">
                    <p>
                        شركة وصل تهتم بتوفير أسهل الطرق للتعليم وكسب المال من خلال توفير تعليم شامل من الصفر وتوصيات من
                        خُبراء وخطط تراكمية تتناسب مع رأس
                    </p>
                </div>
              
            </p-accordionTab>
            <p-accordionTab header="هل التداول للمحترفين في الأسواق الماليه فقط؟">
                <div style="text-align: right">
                    <p>يمكن للجميع التداول في الاسواق المالية اذا توافقت عليك الشروط التاليه ( العمر 18+ , لديك حساب بنكي،
                        لديك جدية تامة للتعليم)</p>
    
                    <h3 style="text-align:right">-: ملاحظة</h3>
                    <p>تطبيق التداول سهل جداً نحن نساعدك في البدأ كمتداول من الصفر الى الاحتراف من خلال توفير تعليم كامل
                        متكامل يسهل عليك</p>
                    <p>فهم السوق و تداول عليه بأبسط الطرق + استراتيجيات تداول سهلة للاعضاء + توصيات صفقات تداول من خبراء و
                        محللين وصل</p>
                </div>
              
            </p-accordionTab>

            <p-accordionTab header="لماذا ننصح بايداع 500$ او اكثر للبدء بالتداول؟">
                <div style="text-align: right">
                    <p>تستطيع ان تبدا من الصفر، شرکة وصل توفر لك أساسيات وكل مايهم التداول بشكل واضح و مبسط</p>
                </div>
            </p-accordionTab>


            <p-accordionTab header="هل التداول حلال في الدين الإسلامي؟">
                <div style="text-align: right">
                    <p>الحسابات لدينا اسلامية 100% "فري سواب" أي لا توجد رسوم تبييت على الصفقات.</p>

                </div>
            </p-accordionTab>





            <p-accordionTab header="هل استطيع التدريب على حساب تجريبي؟">
                <div style="text-align: right">
                    <p>نعم تستطيع التدرب على حساب تجريبي، و لكن للانضمام لتوصيات وصل يجب ان يكون حسابك حقيقي برأس مال لا يقل
                        عن</p>
                    <p>200$ ونتائج افضل ننصح بـ 500$ للاستفاده من التوصيات المقدمة من الخبراء اما حسابك التجريبي للتدريب على
                        التحليل و </p>
                    <p>التطبيق الشخصي الى ان تكتسب مهارات و تتمكن في السوق.</p>
                </div>
   
            </p-accordionTab>


            <p-accordionTab header="لماذا اخترنا لمشتركينا ؟ XTB">
                <div style="text-align: right">
                    <p>لانه من افضل البروكرات و كثرة امتيازاته مثل:</p>
                    <p>✔️ سهولة الايداع والسحب -</p>
                    <p>✔️ مرخص من مركز دبي المالي -</p>
                    <p>✔️ مرخص من سلطة دبي للخدمات المالية -</p>
                    <p>✔️ منصة متكاملة مناسبة للتحليل ولتنفيذ التوصيات -</p>
                    <p>✔️ خاصية حساب الـ"بيب او النقاط" تلقائيًا للاهداف ووقف الخسارة -</p>
                    <p>✔️ قسم في المنصة يخص الاخبار اليومية -</p>
                    <p>✔️ الشركة مُدرجة في الاسواق الاوربية -</p>
                    <p>✔️ تعتبر من أقل فروقات الاسعار المتواجده -</p>
                </div>


            </p-accordionTab>
            <p-accordionTab header="هل استطيع التداول على وسيط بروكرآخر؟">
                <div style="text-align: right">
                    <p>لكثرة المشاكل مع شركات الوساطه أختارت شركة وصل أفضل وسيط لعملائها، وفي حال واجهتك أي مشكلة مع الوسيط
                        المعتمد لدينا.</p>
                    <p>XTB ) نستطيع حلها مباشرةً معهم، لذلك نرفض أي شركات وساطه أخرى.</p>
                </div>
               
            </p-accordionTab>
            <p-accordionTab header="ماهي التوصيات؟">
                <div style="text-align: right">
                    <p>هي أوامر بيع وشراء ستكون مقدمة لك من خبراء ومحللين وصل، التوصية تتضمن (نوع الأمر – عملة التداول –
                        الهدف – وقف</p>
                    <p>الخسارة – نقطة الدخول) والمطلوب منك نسخ هذه الأرقام وتنفيذها في المنصة وستُغلق الصفقة تلقائيًا عند
                        تحقيق الهدف.</p>
                </div>
               
            </p-accordionTab>

            <p-accordionTab header="ماهي شروط الإنضمام لأكون عضو في وصل؟">
                <div style="text-align:right">
                    <p>+18 تتوافق مع السن القانوني</p>
                    <p>لديك حساب بنكي باسمك -</p>
                    <p>لديك حساب وسيط فعال للتداول لفتح حساب اضغط هنا -</p>
                    <h4>-: ملاحظة</h4>
                    <p>عند التسجيل يجب ان تكون بيناتك الشخصية حقيقية تطابق الهوية الوطنية او جواز السفر</p>
                    <p>حساب حقيقي وايداع المبلغ المطلوب في محفظتك الشخصية بعد التوثيق الحساب • اذا واجهتك اي مشكلة خلال
                        التوثيق يمكنك</p>
                    <p>التواصل مع المانجر</p>
                    <p>لديك اشتراك في احد الدروات ( الذهبيه، الالماسيه، الفضيه) -</p>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>

</div>

<app-footer></app-footer>