<app-header></app-header>

<div class="Container">
    <div class="header_content_page_home">
        <h1>اهلا بمستثمر المستقبل مع</h1>
        <h1>وصل للتعليم عن بُعد</h1>
        <h5>لكل من عنده الرغبه في تنويع مصادر دخله والإستثمار سواء عندك خبره او عدم وجود الخبره راح نعطيك خطه واضحه
            ومتكامله تمكنك تبدأ بالاستثمار بكل استقلاليه وسهوله</h5>
        <button>تواصل معنا</button>
    </div>

</div>

<div style="margin-top:270px;background:rgb(251, 249, 249);padding: 20px;">
    <div class="Container">
        <h1 class="title_second_section">خدماتنا</h1>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img class="w-100" src="assets/images/10k-to-50k.zip-3.png" />
            </div>

            <div class="col-sm-12 col-md-6 content_detalils_coures"
                style="margin-top:100px ;text-align:right;position: relative;">
                <h3>الدوره تفيد كل شخص مهتم يكون له مصدر دخل من البيت</h3>
                <h1>الدوره الالماسية</h1>
                <div style="height:3px;width:30%;background-color:red;text-align:right;position:absolute;right:25px">
                </div>
                <p class="desc_1">اختصرنا عليك الكثييير من اللف و الدوران و السقوط و النهوض في مجال الاستثمار</p>
                <p class="desc_1">والتداول بحيث انك راح تاخذ زبدة المجال في هذي الدورة</p>
                <p class="desc_1"><i class="fa-solid fa-arrow-down" style="margin-right: 10px;color:#155ab5"></i>اضغط
                    هنا لمعرفه المزيد من التفاصيل</p>
                <button class="btn_second">التفاصيل</button>
            </div>
        </div>
    </div>
</div>

<div style="background:rgb(251, 249, 249);padding: 20px;">
    <div class="Container">
        <div class="row">
            <div class="col-sm-12 col-md-6 content_detalils_coures"
                style="top:70px ;text-align:right;position: relative;">
                <h3>الدوره تفيد كل شخص مهتم يكون له مصدر دخل من البيت</h3>
                <h1>الدوره الذهبية</h1>
                <div style="height:3px;width:30%;background-color:red;text-align:right;position:absolute;right:25px">
                </div>
                <p class="desc_1">اختصرنا عليك الكثييير من اللف و الدوران و السقوط و النهوض في مجال الاستثمار</p>
                <p class="desc_1">والتداول بحيث انك راح تاخذ زبدة المجال في هذي الدورة</p>
                <p class="desc_1"><i class="fa-solid fa-arrow-down" style="margin-right: 10px;color:#155ab5"></i>اضغط
                    هنا لمعرفه المزيد من التفاصيل</p>
                <button [routerLink]="['/adminDishboard/user']" class="btn_second btn_second_2">التفاصيل</button>
            </div>

            <div class="col-sm-12 col-md-6">
                <img class="w-100" src="assets/images/10k-to-50k.zip-2.png" />
            </div>

        </div>
    </div>
</div>



<div class="header_second_title">
    <div class="container header_second">
        <div class="d-flex justify-content-around flex-wrap flex_second_one">
            <div class="d-flex align-items-center">
                <div style="margin-right: 20px">
                    <p style="margin: 0;color: white;font-size: 50px;">1200</p>
                    <p style="margin: 0;color: white;font-size: 25px;left: 40px;position: relative;">الطلاب</p>
                </div>
                <i class="fa-solid fa-user fs-1" style="background-color: white;padding: 30px;"></i>
            </div>

            <div class="d-flex align-items-center">
                <div style="margin-right: 20px">
                    <p style="margin: 0;color: white;font-size: 50px;">1200</p>
                    <p style="margin: 0;color: white;font-size: 25px;left: 40px;position: relative;">الطلاب</p>
                </div>
                <i class="fa-solid fa-user fs-1" style="background-color: white;padding: 30px;"></i>
            </div>

            <div class="d-flex align-items-center">
                <div style="margin-right: 20px">
                    <p style="margin: 0;color: white;font-size: 50px;">1200</p>
                    <p style="margin: 0;color: white;font-size: 25px;left: 40px;position: relative;">الطلاب</p>
                </div>
                <i class="fa-solid fa-user fs-1" style="background-color: white;padding: 30px;"></i>
            </div>
        </div>

    </div>

</div>



<div class="supscrption">

    <div class="title_supScrption">
        <h1>ابدأ رحلتك معنا الآن</h1>
        <h5>"لكل شخص مهتم يكون له مصدر دخل من الانترنت"</h5>
    </div>

    <div class="btn_supScrption">
        <button (click)="showSupScrptiononeOne()">الاشتراك لاول مره</button>
        <button (click)="showSupScrptiononeTwo()">تجديد الاشتراك الشهري</button>
    </div>


    <div *ngIf="supscrption_1" class="supscrption_1">
        <div class="content_supscrption">
            <div class="top_supscrption">
                <h3>السماويه</h3>
                <h3 class="salerys">$55</h3>
                <p>مخصصه للمحترفين</p>
            </div>
            <div class="bottom_supscrption">
                <ul class="list_supscrption">
                    <li><span style="color: #155ab5"> خطط الربح التراكمي <i class="fa-solid fa-check"></i></span> تم اعدادها من قبل خبرائنا</li>
                    <li><span style="color: #155ab5">الخطط تعني<i class="fa-solid fa-check"></i></span> أنك مسؤول</li>
                    <li>شخصياً عن حسابك الخاص بالتداول ولك حرية التصرف فيه</li>
                    <li><span style="color: #155ab5">تبدأ من<i class="fa-solid fa-check"></i></span>خطه الألف دولار وتصل حتى خمسين الف دولار</li>
                </ul>
                <button class="btn_supscrption_bottom">اشترك الان</button>
            </div>
        </div>


        <div class="content_supscrption">
            <div class="top_supscrption">
                <h3>الفضية</h3>
                <h3 class="salerys">$26.4</h3>
                <p> مخصصه لذوي الخبره </p>
            </div>
            <div class="bottom_supscrption">
                <ul class="list_supscrption">
                    <li><span style="color: #155ab5"> توصيات يوميه على <i class="fa-solid fa-check"></i></span> العملات والذهب</li>
                    <li><span style="color: #155ab5"> قناه مخصصه<i class="fa-solid fa-check"></i></span>  للا الاخبار التي تؤثر علي السوق</li>
                    <li>شخصياً عن حسابك الخاص بالتداول ولك حرية التصرف فيه</li>
                    <li><span style="color: #155ab5">تبدأ من<i class="fa-solid fa-check"></i></span>خطه الألف دولار وتصل حتى خمسين الف دولار</li>
                </ul>
                <button class="btn_supscrption_bottom">اشترك الان</button>
            </div>
        </div>


        <div class="content_supscrption">
            <div class="top_supscrption">
                <h3>الذهبية</h3>
                <h3 class="salerys">$40</h3>
                <p>مخصصه للمبتدين</p>
            </div>
            <div class="bottom_supscrption">
                <ul class="list_supscrption">
                    <li><span style="color: #155ab5"> خطط الربح التراكمي <i class="fa-solid fa-check"></i></span> تم اعدادها من قبل خبرائنا</li>
                    <li><span style="color: #155ab5">الخطط تعني<i class="fa-solid fa-check"></i></span> أنك مسؤول</li>
                    <li>شخصياً عن حسابك الخاص بالتداول ولك حرية التصرف فيه</li>
                    <li><span style="color: #155ab5">تبدأ من<i class="fa-solid fa-check"></i></span>خطه الألف دولار وتصل حتى خمسين الف دولار</li>
                </ul>
                <button class="btn_supscrption_bottom">اشترك الان</button>
            </div>
        </div>

        <div class="content_supscrption">
            <div class="top_supscrption">
                <h3>السماويه</h3>
                <h3 class="salerys">$55</h3>
                <p>مخصصه للمحترفين</p>
            </div>
            <div class="bottom_supscrption">
                <ul class="list_supscrption">
                    <li><span style="color: #155ab5"> خطط الربح التراكمي <i class="fa-solid fa-check"></i></span> تم اعدادها من قبل خبرائنا</li>
                    <li><span style="color: #155ab5">الخطط تعني<i class="fa-solid fa-check"></i></span> أنك مسؤول</li>
                    <li>شخصياً عن حسابك الخاص بالتداول ولك حرية التصرف فيه</li>
                    <li><span style="color: #155ab5">تبدأ من<i class="fa-solid fa-check"></i></span>خطه الألف دولار وتصل حتى خمسين الف دولار</li>
                </ul>
                <button class="btn_supscrption_bottom">اشترك الان</button>
            </div>
        </div>
    </div>



    <div *ngIf="supscrption_2" class="supscrption_2">
        <div class="content_supscrption">
            <div class="top_supscrption">
                <h3>السماويه</h3>
                <h3 class="salerys">$55</h3>
                <p>مخصصه للمحترفين</p>
            </div>
            <div class="bottom_supscrption">
                <ul class="list_supscrption">
                    <li><span style="color: #155ab5"> خطط الربح التراكمي <i class="fa-solid fa-check"></i></span> تم اعدادها من قبل خبرائنا</li>
                    <li><span style="color: #155ab5">الخطط تعني<i class="fa-solid fa-check"></i></span> أنك مسؤول</li>
                    <li>شخصياً عن حسابك الخاص بالتداول ولك حرية التصرف فيه</li>
                    <li><span style="color: #155ab5">تبدأ من<i class="fa-solid fa-check"></i></span>خطه الألف دولار وتصل حتى خمسين الف دولار</li>
                </ul>
                <button class="btn_supscrption_bottom">اشترك الان</button>
            </div>
        </div>


        <div class="content_supscrption">
            <div class="top_supscrption">
                <h3>الفضية</h3>
                <h3 class="salerys">$26.4</h3>
                <p> مخصصه لذوي الخبره </p>
            </div>
            <div class="bottom_supscrption">
                <ul class="list_supscrption">
                    <li><span style="color: #155ab5"> توصيات يوميه على <i class="fa-solid fa-check"></i></span> العملات والذهب</li>
                    <li><span style="color: #155ab5"> قناه مخصصه<i class="fa-solid fa-check"></i></span>  للا الاخبار التي تؤثر علي السوق</li>
                    <li>شخصياً عن حسابك الخاص بالتداول ولك حرية التصرف فيه</li>
                    <li><span style="color: #155ab5">تبدأ من<i class="fa-solid fa-check"></i></span>خطه الألف دولار وتصل حتى خمسين الف دولار</li>
                </ul>
                <button class="btn_supscrption_bottom">اشترك الان</button>
            </div>
        </div>


        <div class="content_supscrption" >
            <div class="top_supscrption">
                <h3>الذهبية</h3>
                <h3 class="salerys" style="color: #EC407A;text-decoration-line: line-through;">$133</h3>
                <h3 class="salerys">$40</h3>
                <p>مخصصه للمبتدين</p>
            </div>
            <div class="bottom_supscrption">
                <ul class="list_supscrption">
                    <li><span style="color: #155ab5">نعلمك من الصفر حتى الإتقان <i class="fa-solid fa-check"></i></span> في جميع مجالات التداول والاستثمار</li>
                    <li><span style="color: #155ab5"> اشتراك اضافي في<i class="fa-solid fa-check"></i></span>  قروبات التوصيات والاخبار </li>
                    <li>شخصياً عن حسابك الخاص بالتداول ولك حرية التصرف فيه</li>
                    <li><span style="color: #155ab5"> بثوث مباشره<i class="fa-solid fa-check"></i></span>خطوه بخطوه</li>
                    <li><span style="color: #155ab5"> قروب دردشه خاص للمشتركين<i class="fa-solid fa-check"></i></span>لطرح جميع مواضيع التداول</li>
              
                </ul>
                <button class="btn_supscrption_bottom">اشترك الان</button>
            </div>
        </div>

        
        <div class="content_supscrption" >
            <div class="top_supscrption">
                <h3>الألماسية</h3>
                <h3 class="salerys" style="color: #EC407A;text-decoration-line: line-through;">$233</h3>
                <h3 class="salerys">$180</h3>
                <p> مخصصه للمبتدئ المييز</p>
            </div>
            <div class="bottom_supscrption">
                <ul class="list_supscrption">
                    <li><span style="color: #155ab5">نعلمك من الصفر حتى الإتقان <i class="fa-solid fa-check"></i></span> في جميع مجالات التداول والاستثمار</li>
                    <li><span style="color: #155ab5"> اشتراك اضافي في<i class="fa-solid fa-check"></i></span>  قروبات التوصيات والاخبار </li>
                    <li><span style="color: #155ab5"> اشتراك اضافي في<i class="fa-solid fa-check"></i></span> احد خطط</li>
                    <li>الربح التراكمي من اختيارك</li>
                    <li><span style="color: #155ab5"> متابعة خاصه و اشراف من المدرب<i class="fa-solid fa-check"></i></span> </li>
                    <li><span style="color: #155ab5">بث مباشر<i class="fa-solid fa-check"></i></span>بين كل فترة و فترة للإجابة عن تساؤلاتك في حال الحاجه </li>
                    <li><span style="color: #155ab5">قروب دردشه خاص للمشتركين<i class="fa-solid fa-check"></i></span>لطرح جميع مواضيع التداول</li>

                    <button class="btn_supscrption_bottom" style="position: reltive;top:-30px">اشترك الان</button>
                </ul>
           
            </div>
        </div> 
    </div>
</div>


<button  *ngIf="showScroll" (click)="scrollToTop()" class="scrolltotop"><i class="fa-solid fa-angles-down"></i></button>



<app-footer></app-footer>


