<app-header></app-header>
<h1 style="text-align: center;color:#155ab5;font-weight: bold;margin-top: 100px;">للتواصل معنا</h1>

<form class="form_contact">
    <div>
        <div class="conten_contact ">
            <span class="p-float-label inp">
                <input pInputText id="username" />
                <label htmlFor="username">الاسم الاول</label>
            </span>

            <span class="p-float-label inp">
                <input pInputText id="username" />
                <label htmlFor="username">الاسم الاخير</label>
            </span>
        </div>

        <div class="conten_contact mt-5">
            <span class="p-float-label inp">
                <input pInputText id="username" />
                <label htmlFor="username">الايميل</label>
            </span>

            <span class="p-float-label inp">
                <input pInputText id="username" />
                <label htmlFor="username">رقم الهاتف</label>
            </span>
        </div>

        <div class="conten_contact mt-5">
            <textarea rows="10" style="width:100%;border-radius:20px;padding: 20px;">
اعطينا التفاصيل
         </textarea>
        </div>
        <div class="contact_btns">
            <button class="btn_contact">ارسال</button>

        </div>
    </div>

</form>

<app-footer></app-footer>