<div class="contentDishbordAllUser">
    <div class="sidebar">
        <app-side-bar></app-side-bar>
    </div>
    <app-charts-dashboard></app-charts-dashboard>

    <div class="card tabel_Card" >
        <p-table [value]="CoponAdmin" styleClass="p-datatable-gridlines" [tableStyle]="{ 'width': '20rem' }"  >
            <ng-template pTemplate="header">
                <tr>
                    <th>updatedAt</th>
                    <th>startAt</th>
                    <th>endAt</th>
                    <th>discount</th>
                    <th>createdAt</th>
                    <th>copone</th>
                    <th>_id</th>
                    <th>wallet</th>
                    <th>status</th>
                    <th>role</th>
                    <th>phone</th>
                    <th>invitation</th>
                    <th>email</th>
                    <th>user</th>
                    <th>UserAction</th>
                    <th>DeleteCopon</th>


                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-CoponAdmin>
                <tr>
                    <td>{{CoponAdmin.updatedAt}}</td>
                    <td>{{CoponAdmin.startAt}}</td>
                    <td>{{CoponAdmin.endAt}}</td>
                    <td>{{CoponAdmin.discount}}</td>
                    <td>{{CoponAdmin.createdAt}}</td>
                    <td>{{CoponAdmin.copone}}</td>
                    <td>{{CoponAdmin.user._id}}</td>
                    <td>{{CoponAdmin.user.wallet}}</td>
                    <td>{{CoponAdmin.user.status}}</td>
                    <td>{{CoponAdmin.user.role}}</td>
                    <td>{{CoponAdmin.user.phone}}</td>
                    <td>{{CoponAdmin.user.invitation}}</td>
                    <td>{{CoponAdmin.user.email}}</td>
                    <td>{{CoponAdmin.user.userName}}</td>
                    <td (click)="showDialog(CoponAdmin.user.copone)"><i class="fa-solid fa-user user_icon"></i></td>
                    <td (click)="DeleteCoponAdmin(CoponAdmin.user.copone)"><i class="fa-solid fa-trash delete_use"></i></td>
                </tr>
            </ng-template>
        </p-table>

        <div class="card flex justify-content-center">
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"
                [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
        </div>

    </div>
    
<div class="card flex justify-content-center">
    <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }">
        <i class="fa-solid fa-user user_icon_dilog"></i>
        <h5><span style="color: #155ab5;margin-right: 10px;">User:{{_id}}</span></h5>
        <h5><span style="color: green;margin-right: 10px;">wallet:{{wallet}}</span></h5>
        <h5><span style="color: #EC407A;margin-right: 10px;">userName:{{userName}}</span></h5>
        <h5><span style="color: #EC407A;margin-right: 10px;">role:{{role}}</span></h5>
        <h5><span style="color: #EC407A;margin-right: 10px;">phone:{{phone}}</span></h5>
        <h5><span style="color: #EC407A;margin-right: 10px;">invitation:{{invitation}}</span></h5>
        <h5><span style="color: #EC407A;margin-right: 10px;">email:{{email}}</span></h5>
        <h5><span style="color: #EC407A;margin-right: 10px;">copone:{{copone}}</span></h5>
       <button class="btn_dillog" (click)="hideDilog()">OK</button>
    </p-dialog>
   
</div>
</div>

