<div class="content-footer">
    <img class="logo_footer" src="../../../assets/images/Wasel-blue-.png" />
    <div class="list_flex">
        <ul>

            <li [routerLink]="['/contact']" style="font-size:30px;font-weight: bolder;">معلومات التواصل</li>
            <li>info@thewtofficial.trade</li>
            <li>الدعم : WASEL TRADING</li>
        </ul>

        <ul>
            <li style="font-size:30px;font-weight: bolder;">الروابط الهامة</li>
            <li [routerLink]="['/answer']">الأسئلة الشائعة</li>
            <li [routerLink]="['/price']">الاسعار</li>
            <li [routerLink]="['/privacy']">القوانين و الخصوصية</li>
            <li [routerLink]="['/about']">تواصل معنا</li>
        </ul>

        <ul>
            <li   style="font-size:30px;font-weight: bolder;">من نحن</li>
            <li>اهلا بمستثمر المستقبل مع وصل للتعليم عن بُعد لكل من</li>
            <li>عنده الرغبه في تنويع مصادر دخله والإستثمار سواء عندك</li>
            <li>خبره او عدم وجود الخبره راح نعطيك خطه واضحه</li>
            <li>ومتكامله تمكنك تبدأ بالاستثمار بكل استقلاليه وسهوله</li>
            <div class="icon_footer">
                <li><a href="https://x.com/thewtofficial?s=21&%3Bt=6hasq12C80rqErVnEKEjjw"><i
                            class="fa-brands fa-twitter"></i></a></li>
                <li><a
                        href="https://www.instagram.com/thewtofficial/?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw%3D%3D"><i
                            class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://t.me/thewtofficial7"><i class="fa-brands fa-telegram"></i></a></li>
            </div>




        </ul>

    </div>


</div>