<app-header></app-header>
<img class="w-100" src="../../../../assets/images/صورة واتساب بتاريخ 2024-09-02 في 01.09.14_dff59932.jpg" />


<div style="margin-top:20px;background:rgb(251, 249, 249);padding: 20px;">
    <div class="Container">
        <h1 class="title_second_section">خدماتنا</h1>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img class="w-100" src="assets/images/10k-to-50k.zip-3.png" />
            </div>

            <div class="col-sm-12 col-md-6 content_detalils_coures"
                style="margin-top:10px ;text-align:right;position: relative;">
                <h3>الدوره تفيد كل شخص مهتم يكون له مصدر دخل من البيت</h3>
                <h1>الدوره الالماسية</h1>
                <div style="height:3px;width:30%;background-color:red;text-align:right;position:absolute;right:25px">
                </div>
                <div style="margin-top: 30px">
                    <p class="">️نعلمك من الصفر حتى الاتقان في جميع أنواع أسواق المال وكيفية التداول . التعرف على
                        المنصات
                    </p>
                    <p class="">توقيت الذهبي للأسواق تحديد الأهداف والوقف ونقاط الدخول الرافعة المالية والهامش وحساب</p>
                    <p class="">الشموع اليابانية وأنواع الرسم البياني الدعم والمقاومة والنماذج الكلاسيكة القنوات وأنواع
                        الإتجاهات</p>
                    <p class="">نظرية داو ونظرية وايكوف المؤشرات الفنية وإستخداماتها الكسور والإختراقات الفيبوناتشي
                        التصحيحي
                    </p>
                    <p class="">والإمتدادي مدخل لموجات إليوت التصحيحة والدافعة.</p>

                    <h4>اشتراك اضافي في قروبات التوصيات و <i class="fa-solid fa-check icon_check"></i> ️️</h4>
                    <h4> ️اشتراك اضافي في احد خطط الربح التراكمي من اختيارك <i class="fa-solid fa-check icon_check"></i>
                        ️️
                    </h4>
                    <h4>متابعة و اشراف من المدرب خطوة بخطوة <i class="fa-solid fa-check icon_check"></i> ️️</h4>
                    <h4>بثوث مباشرة بين كل فترة و فترة للإجابة عن تساؤلاتك في حال الحاجه<i
                            class="fa-solid fa-check icon_check"></i> ️️</h4>


                    <h4> ️️️️قروب للمناقشه خاص لطرح جميع مواضيع التداول <i class="fa-solid fa-check icon_check"></i> ️️
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background:rgb(251, 249, 249);padding: 20px;">
    <div class="Container">
        <div class="row">
            <div class="col-sm-12 col-md-6 content_detalils_coures"
                style="top:10px ;text-align:right;position: relative;">
                <h1>الدوره الذهبية</h1>
                <div style="height:3px;width:30%;background-color:red;text-align:right;position:absolute;right:25px">
                </div>
                <div style="margin-top: 30px">
                    <p>️نعلمك من الصفر حتى الاتقان في جميع أنواع أسواق المال وكيفية التداول . التعرف على المنصات</p>
                    <p>توقيت الذهبي للأسواق تحديد الأهداف والوقف ونقاط الدخول الرافعة المالية والهامش وحساب</p>
                    <p>النقاط المفكرة الإقتصادية وكيفية قرائتها. إدارة المخاطر . ثم الإنتقال الى رحلتك التالية:~ التحليل
                        الفني</p>
                    <p>الشموع اليابانية وأنواع الرسم البياني الدعم والمقاومة والنماذج الكلاسيكة القنوات وأنواع الإتجاهات
                    </p>
                    <p>نظرية داو ونظرية وايكوف المؤشرات الفنية وإستخداماتها الكسور والإختراقات الفيبوناتشي التصحيحي</p>
                    <p>والإمتدادي مدخل لموجات إليوت التصحيحة والدافعة.</p>



                    <h4>اشتراك اضافي في قروبات التوصيات و الأخبار<i class="fa-solid fa-check icon_check"></i> ️️</h4>
                    <h4>قروب للمناقشه خاص لطرح جميع مواضيع التداول<i class="fa-solid fa-check icon_check"></i> ️️</h4>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <img class="w-100" src="assets/images/10k-to-50k.zip-2.png" />
            </div>

        </div>
    </div>
</div>




<div style="background:rgb(251, 249, 249);padding: 20px;">
    <div class="Container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img class="w-100" src="assets/images/10k-to-50k.zip-3.png" />
            </div>
            <div class="col-sm-12 col-md-6 content_detalils_coures"
                style="top:70px ;text-align:right;position: relative;">
                <h1>الدوره الالماسية</h1>
                <div style="height:3px;width:30%;background-color:red;text-align:right;position:absolute;right:25px">
                </div>
                <div style="margin-top: 30px">
                    <p>️قناة WT CASH GOLD: تتضمن صفقات يوميه مع نقاط بين 200-500 نقطة ونسبة أرباح عالية.</p>
                    <p>يُفضل رأس المال 1000$ وما فوق. WT CASH: مخصصة للمبتدئين مع صفقات يوميًا ونقاط بين</p>
                    <p>100-120 نقطة ونسبة أرباح مناسبة لتحقيق أهداف. رأس المال المناسب 300$ مع إدارة مخاطر</p>
                    <p>مكثفة. ايضاً قروب مخصص فقط للأخبار الاقتصادية بالاضافه الى طريقه مبسطه لادراه مخاطر</p>
                    <p>حسابك بالشكل الصحيح والاستفاده من التوصيات بافضل شكل والربح منها</p>


                    <div style="text-align: right">
                        <h3>: ملحوظه</h3>
                        <p style="font-size: 20px;margin-top:10px">لسنا مسؤولين عن خسارة رؤوس اموالكم اذا لم يتم اتباع
                            ادارة
                            مخاطر على الصفقات من قبلكم</p>
                    </div>
                </div>



            </div>



        </div>
    </div>
</div>



<div style="background:rgb(251, 249, 249);padding: 20px;">
    <div class="Container">
        <div class="row">

            <div class="col-sm-12 col-md-6 content_detalils_coures"
                style="top:70px ;text-align:right;position: relative;">
                <h1>الدوره السماوية</h1>
                <div style="height:3px;width:30%;background-color:red;text-align:right;position:absolute;right:25px">
                </div>
                <div style="margin-top: 30px">

                    <p>️خطط تراكميه تعني أنك مسؤول شخصياً عن حسابك الخاص بالتداول ولك حرية</p>
                    <p>التصرف فيه</p>
                    <div style="text-align: right">
                        <h3>: مميزات الخطه</h3>

                        <h4> ️توضيح الهدف المطلوب منك من قِبَل الخبير بناءً على خطه مدروسه<i
                                class="fa-solid fa-check icon_check"></i> ️️</h4>
                        <h4> ️ادارة رأس المال والمخاطر من قِبَل الخبراء<i class="fa-solid fa-check icon_check"></i> ️️
                        </h4>
                        <h4> ️بعد الشراء سيظهر لك الملف في حال لم يظهر الرجاء التواصل مع حساب المانجر لتقوم باضافتك في
                            الخدمه ️<i class="fa-solid fa-check icon_check"></i> ️️</h4>
                    </div>

                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <img class="w-100" src="assets/images/10k-to-50k.zip-1 (1).png" />
            </div>


        </div>
    </div>
</div>

<app-footer></app-footer>